[Unit]
Description=Intel I219 e1000e conservative offload settings
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/ethtool -K nic0 tso off gso off gro off
ExecStart=/usr/sbin/ethtool --set-eee nic0 eee off
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
