[Unit]
Description=Store AV SMB share
Wants=network-online.target
After=network-online.target

[Mount]
What=//smb.l3b.cc.cd/AV
Where=/mnt/AV
Type=cifs
Options=credentials=/etc/samba/credentials-av,vers=3.1.1,seal,uid=1000,gid=1000,file_mode=0660,dir_mode=0770,nosuid,nodev,noexec
TimeoutSec=30s
