[Unit]
Description=Crucial SSD AV filesystem
After=local-fs.target
Before=pve-guests.service

[Mount]
What=/dev/disk/by-uuid/2489f3c3-bbaa-4f4b-bdf5-69d240a6bdab
Where=/mnt/external/AV
Type=ext4
Options=rw,noatime
TimeoutSec=15s

[Install]
WantedBy=multi-user.target
