APP_URL=https://auth.l3b.cc.cd
HOST=0.0.0.0
PORT=1411
DB_CONNECTION_STRING=/var/lib/pocket-id/pocket-id.db
FILE_BACKEND=filesystem
GEOLITE_DB_PATH=/var/lib/pocket-id/GeoLite2-City.mmdb
ENCRYPTION_KEY_FILE=/etc/pocket-id/encryption-key
TRUST_PROXY=10.1.1.3/32
ANALYTICS_DISABLED=true
LOG_JSON=true
