TINYAUTH_APPURL=https://login.l3b.cc.cd
TINYAUTH_LABELPROVIDER=none
TINYAUTH_DATABASE_DRIVER=sqlite
TINYAUTH_DATABASE_PATH=/var/lib/tinyauth/tinyauth.db
TINYAUTH_ANALYTICS_ENABLED=false
TINYAUTH_RESOURCES_ENABLED=true
TINYAUTH_RESOURCES_PATH=/var/lib/tinyauth/resources
TINYAUTH_SERVER_PORT=3000
TINYAUTH_SERVER_ADDRESS=0.0.0.0
TINYAUTH_AUTH_SUBDOMAINSENABLED=true
TINYAUTH_AUTH_SECURECOOKIE=true
TINYAUTH_AUTH_SESSIONEXPIRY=86400
TINYAUTH_AUTH_SESSIONMAXLIFETIME=604800
TINYAUTH_AUTH_TRUSTEDPROXIES=10.1.1.3
TINYAUTH_AUTH_ACLS_POLICY=deny
TINYAUTH_OAUTH_AUTOREDIRECT=pocketid
TINYAUTH_OAUTH_PROVIDERS_POCKETID_CLIENTID=tinyauth
TINYAUTH_OAUTH_PROVIDERS_POCKETID_CLIENTSECRET=replace-me
TINYAUTH_OAUTH_PROVIDERS_POCKETID_AUTHURL=https://auth.l3b.cc.cd/authorize
TINYAUTH_OAUTH_PROVIDERS_POCKETID_TOKENURL=https://auth.l3b.cc.cd/api/oidc/token
TINYAUTH_OAUTH_PROVIDERS_POCKETID_USERINFOURL=https://auth.l3b.cc.cd/api/oidc/userinfo
TINYAUTH_OAUTH_PROVIDERS_POCKETID_REDIRECTURL=https://login.l3b.cc.cd/api/oauth/callback/pocketid
TINYAUTH_OAUTH_PROVIDERS_POCKETID_SCOPES=openid email profile groups
TINYAUTH_OAUTH_PROVIDERS_POCKETID_NAME=Pocket ID
TINYAUTH_OAUTH_PROVIDERS_POCKETID_WHITELIST=iam.anuragvishwakarma@gmail.com
TINYAUTH_OAUTH_PROVIDERS_POCKETID_CLAIMS_USERNAME=preferred_username
TINYAUTH_OAUTH_PROVIDERS_POCKETID_CLAIMS_EMAIL=email
TINYAUTH_OAUTH_PROVIDERS_POCKETID_CLAIMS_NAME=name
TINYAUTH_OAUTH_PROVIDERS_POCKETID_CLAIMS_GROUPS=groups
TINYAUTH_APPS_LONGHORN_CONFIG_DOMAIN=longhorn.l3b.cc.cd
TINYAUTH_APPS_LONGHORN_OAUTH_WHITELIST=iam.anuragvishwakarma@gmail.com
TINYAUTH_APPS_LONGHORN_OAUTH_GROUPS=infrastructure-admins
TINYAUTH_APPS_DNS_CONFIG_DOMAIN=dns.l3b.cc.cd
TINYAUTH_APPS_DNS_OAUTH_WHITELIST=iam.anuragvishwakarma@gmail.com
TINYAUTH_APPS_DNS_OAUTH_GROUPS=infrastructure-admins
TINYAUTH_APPS_HOMEPAGE_CONFIG_DOMAIN=l3b.cc.cd
TINYAUTH_APPS_HOMEPAGE_OAUTH_WHITELIST=iam.anuragvishwakarma@gmail.com
TINYAUTH_APPS_HOMEPAGE_OAUTH_GROUPS=infrastructure-admins
