KOMODO_DATA_PATH=/data/apps/komodo
KOMODO_DATABASE_USERNAME=komodo
KOMODO_DATABASE_PASSWORD=replace-me
TZ=Asia/Kolkata
KOMODO_HOST=https://komodo.l3b.cc.cd
KOMODO_TITLE=Komodo
KOMODO_PERIPHERY_PUBLIC_KEY=file:/config/keys/periphery.pub
KOMODO_LOCAL_AUTH=true
KOMODO_INIT_ADMIN_USERNAME=replace-me
KOMODO_INIT_ADMIN_PASSWORD=replace-me
KOMODO_FIRST_SERVER_NAME=ctr
KOMODO_DISABLE_CONFIRM_DIALOG=false
KOMODO_DISABLE_INIT_RESOURCES=false
KOMODO_DEFAULT_PAGINATION_LIMIT=50
KOMODO_WEBHOOK_SECRET=replace-me
KOMODO_JWT_SECRET=replace-me
KOMODO_JWT_TTL=12-hr
KOMODO_MONITORING_INTERVAL=15-sec
KOMODO_RESOURCE_POLL_INTERVAL=1-hr
KOMODO_DISABLE_USER_REGISTRATION=true
KOMODO_ENABLE_NEW_USERS=false
KOMODO_DISABLE_NON_ADMIN_CREATE=true
KOMODO_TRANSPARENT_MODE=false
KOMODO_OIDC_ENABLED=true
KOMODO_OIDC_PROVIDER=https://auth.l3b.cc.cd
KOMODO_OIDC_CLIENT_ID=komodo
KOMODO_OIDC_CLIENT_SECRET=replace-me
KOMODO_GITHUB_OAUTH_ENABLED=false
KOMODO_GOOGLE_OAUTH_ENABLED=false
KOMODO_LOGGING_PRETTY=false
KOMODO_PRETTY_STARTUP_CONFIG=false
PERIPHERY_CORE_ADDRESS=ws://core:9120
PERIPHERY_CONNECT_AS=ctr
PERIPHERY_CORE_PUBLIC_KEYS=file:/config/keys/core.pub
PERIPHERY_ROOT_DIRECTORY=/data/apps/komodo/workspace
PERIPHERY_DISABLE_TERMINALS=false
PERIPHERY_DISABLE_CONTAINER_TERMINALS=false
PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname
PERIPHERY_LOGGING_PRETTY=false
PERIPHERY_PRETTY_STARTUP_CONFIG=false
